<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Blog</title>
    <link rel="stylesheet" href="../styles/homeStyle.css">
    <!-- Styles for icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <!-- Dark theme script -->
    <script src="../scripts/dark_thame.js"></script>
</head>
<body onload="pageMode()">
    <div class="container">
        <!-- Header -->
        <header>
            <div class="header-left">
                <img src="../webblog.png" alt="logo" height="70px">
            </div>
            <div class="header-right">
                <!-- Navbar -->
                <nav>
                    <ul>
                        <li><a href="index.html"><center><span class="material-icons">home</span></center>Home</a></li>
                        <li><a href="about.html"><center><span class="material-symbols-outlined">info</span></center>About</a></li>
                        <?php require_once('../php_processes/nav.php'); ?>
                        <img src="../moon.png" alt="mode icon" id="thame_icon" onclick="changeMode()">
                    </ul>
                </nav>
                <!-- Search bar -->
                <form action="../php_processes/index.php" method="GET" class="search-form">
                    <input type="text" name="query" placeholder="Search by user or post" required>
                    <button type="submit">Search</button>
                </form>
            </div>
        </header>

        <!-- Welcome Image Header -->
        <div><center><img src="../webblog_header.png" alt="header photo" height="350px"></center></div>

        <!-- Main -->
        <main>
            <section class="latest-posts">
                <h1>Latest Posts</h1>
                <!-- Display latest post -->
                <?php require_once('../php_processes/latest_posts.php'); ?>
            </section>

            <!-- Sidebar -->
            <aside class="sidebar">
                <section class="social-media">
                    <h3>Follow Us</h3>
                    <a href="#"><img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png" alt="Facebook">Facebook</a>
                    <a href="#"><img src="https://cdn3.iconfinder.com/data/icons/social-media-2169/24/social_media_social_media_logo_twitter-512.png" alt="Twitter">Twitter</a>
                    <a href="#"><img src="https://cdn3.iconfinder.com/data/icons/social-media-2169/24/social_media_social_media_logo_instagram-512.png" alt="Instagram">Instagram</a>
                </section>
            </aside>
        </main>

        <!-- Footer -->
        <footer>
            <p>&copy; 2024 Web Blog. All rights reserved.</p>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
            <p>Contact Information: info@webblog.com</p>
        </footer>
    </div>
</body>
</html>
